<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
{{ partial "slideout.html" . }}

<div class="container" id="mobile-panel">
  <header id="header" class="header">
    {{ partial "header.html" . }}
  </header>

  <main id="main" class="main">
    <div class="content-wrapper">
      <div id="content" class="content">
        {{ block "content" . }}{{ end }}
      </div>
    </div>
  </main>

  <footer id="footer" class="footer">
    {{ partial "footer.html" . }}
  </footer>

  <div class="back-to-top" id="back-to-top">
    <i class="iconfont icon-up"></i>
  </div>
</div>

{{ partial "scripts.html" . }}
</body>
</html>
